@page "/register"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_SimpleLayout";
    ViewData["Genders"] = new List<string> { "Male", "Female" };
}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="mx-auto half-width col-5">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <a href="/"><img src="images/logo.png" alt="logo" class="mx-auto d-block" style="max-width:50%"></a>

                <h5 class="text-center mt-2 alert-info">Register a new account.</h5>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.BirthDate"></label>
                    <input asp-for="Input.BirthDate" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Gender"></label>
                    <select asp-for="Input.Gender" asp-items="@(new SelectList(Model.Genders))">
                        <option value="">Select one</option>
                    </select>
                    <span asp-validation-for="Input.Gender" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mx-auto d-block mb-5">Register</button>
                

            </form>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
