@page "/about"

<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">About Us</a></li>
                    <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                </ul>
                <p class="text-lighten">Our courses will help your reach your potential.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- about -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid w-75 mb-4" src="images/about/about-page.jpg" alt="about image">
                <h2 class="section-title">Our story</h2>
                <p>Throughout its history, The Juilliard School has maintained a commitment to providing the highest caliber of artistic and educational experience to exceptionally talented young performing artists from around the world. Juilliard was founded in 1905 as the Institute of Musical Art by Dr. Frank Damrosch, the godson of Franz Liszt and the head of music education for New York City’s public schools. Damrosch was convinced that American musicians should not have to go abroad for advanced study, and created the Institute as an American music academy that would provide an educational experience comparable to that of the established European conservatories. With the initial enrollment figures nearly five times what was expected, the Institute quickly outgrew its original home at Fifth Avenue and 12th Street (seen at left) and moved to new quarters near Columbia University in 1910.</p>

                <p>Nine years later, a wealthy textile merchant named Augustus Juilliard died and left in his will the largest single bequest for the advancement of music at that time. The trustees of the bequest founded the Juilliard Graduate School in 1924 to help worthy music students complete their education. In 1926, the Graduate School and the Institute of Musical Art merged to become the Juilliard School of Music under one president, the distinguished Columbia University professor John Erskine. Erskine was succeeded in 1937 by renowned concert pianist and composer Ernest Hutcheson, who served in the position until 1945.</p>

                <p>Following Mennin’s death, in 1983, Dr. Joseph W. Polisi became the school’s sixth president, beginning with the 1984-85 academic year. Major projects that have been realized during his administration include the completion of the Meredith Willson Residence Hall in 1990; significant additions to the curriculum with new programs in jazz studies and historical performance, the addition of an MFA program in Drama, and strengthening the School’s liberal arts program; implementation of numerous educational and community engagement programs; a major expansion and renovation of Juilliard’s facility, completed in fall 2009; and, in 2015, the announcement of the school's first branch campus outside of New York, The Tianjin Juilliard School in China, expected to open in 2019.</p>
            </div>
        </div>
    </div>
</section>
<!-- /about -->
