@model DubaiMusicSchool.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
    Layout = "_Layout";
}

<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">Admin Dashboard</a></li>
                    <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                </ul>
                <ul>
                    <li><a asp-controller="Courses" asp-action="Create" class="btn btn-primary">Create Course</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
